*
{
    margin: 0px;
    padding: 0px;  
}
.navbar
{
    background-color: rgb(3, 194, 3);
}
.icon_leaf
{
    height: 20px;
    width: 30px;
}
.main_img
{
    width: 100%;
    height: 500px;
}
.main_Caption h1,P
{
 text-align: center;
 margin-top: 30px;
 
}
.main_Caption span,a
{
    color: rgb(3, 194, 3);
}
.main_Caption h5
{
    text-align:center;
    color:rgb(4, 168, 4);
}
.main_Caption h6:hover
{
    color:rgb(4, 168, 4);
}
.main_Caption a
{
    margin-left: 40%;
    /* text-align:center;   */
}
.clip_img1 img
{
 text-align: center;
 height: 500px;
 width: 100%;
 display: block;
}
.clip_circle
{
    clip-path: circle(15%);
} 
 .clip_ellipse
{
    clip-path: ellipse(10% 44% at 50% 50%);
}

.clip_main h3
{
    text-align: center;
}
.clip_polygon
{
    clip-path: polygon(50% 2%, 0% 287%, 66% 100%);
}
.clip_polygon2
{
    clip-path: polygon(50% 0%, 60% 49%, 50% 91%, 37% 48%);
}
footer p
{
    background-color:rgb(3, 194, 3) ;
}